{% extends 'admin_panel/base.html' %}
{% load custom_filters %}

{% block content %}
<a href="{% url 'admin_panel:admin_order_invoice' order.id %}" target="_blank"
  class="inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
  View Invoice
</a>

<div class="max-w-5xl mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
  <h2 class="text-2xl font-bold mb-4 text-center">Order #{{ order.id }} Details</h2>

  <div class="mb-6">
    <p><strong>Customer:</strong> {{ order.user.full_name }}</p>
    <p><strong>Email:</strong> {{ order.user.email }}</p>
    <p><strong>Order Status:</strong> {{ order.status }}</p>
    <p><strong>Placed On:</strong> {{ order.created_at|date:"d M Y, h:i A" }}</p>
    <p><strong>Total Amount:</strong> ₹{{ order.total_price }}</p>
  </div>

  <h3 class="text-xl font-semibold mb-2">Items:</h3>
  <table class="min-w-full bg-white border rounded">
    <thead>
      <tr class="bg-gray-100 border-b">
        <th class="text-left px-4 py-2">Product</th>
        <th class="text-left px-4 py-2">Quantity</th>
        <th class="text-left px-4 py-2">Price</th>
        <th class="text-left px-4 py-2">Total</th>
        <th class="text-left px-4 py-2">Change Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order_items %}
      <tr class="border-b">
        <td class="px-4 py-2">{{ item.product.name }}</td>
        <td class="px-4 py-2">{{ item.quantity }}</td>
        <td class="px-4 py-2">₹{{ item.price }}</td>
        <td class="px-4 py-2">₹{{ item.quantity|mul:item.price }}</td>
        <td>
          <form method="post" action="{% url 'admin_panel:admin_change_item_status' item.id %}">
            {% csrf_token %}
            <select name="status" onchange="this.form.submit()" class="border p-2 rounded">
              {% for choice in status_choices %}
              <option value="{{ choice.0 }}" {% if item.status == choice.0 %}selected{% endif %}>    
            {{ choice.1 }}
              </option>
              {% endfor %}
            </select>

          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}