<nav class="p-6">
  <h2 class="text-xl font-bold mb-6 text-pink-600">BabyMuse Admin</h2>
  <ul class="space-y-4">
    <li><a href="{% url 'admin_dashboard' %}" class="hover:text-pink-500">Dashboard</a></li>
    <li><a href="{% url 'admin_orders' %}" class="hover:text-pink-500">Orders</a></li>
    <li><a href="{% url 'admin_products' %}">Products</a></li>
    <li><a href="{% url 'admin_customer_list' %}">Customers</a></li>
    <li><a href="">Coupons</a></li>
    <li><a href="{% url 'admin_category_list' %}">Categories</a></li>
    <li><a href="">Refund/Return</a></li>
    <li><a href="">Banners</a></li>
    <li><a href="" class="text-red-600">Sign Out</a></li>
  </ul>
</nav>
