{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="max-w-md mx-auto mt-10 space-y-4">


    <form method="POST" class="space-y-4 bg-white shadow-md rounded p-6">
        {% csrf_token %}
        <h2 class="text-xl font-semibold text-center mb-4">Reset Your Password</h2>

        <input type="password" name="password1" placeholder="New Password" id="new_password"
            class="w-full p-2 border border-gray-300 rounded">
        <button type="button" onclick="togglePassword('new_password', this)"
            class="absolute right-2 top-8 text-sm text-gray-500 hover:text-green-600">👁</button>


        <input type="password" name="password2" placeholder="Confirm Password" id="confirm_password" required
            class="w-full p-2 border border-gray-300 rounded">
        <button type="button" onclick="togglePassword('confirm_password', this)"
            class="absolute right-2 top-8 text-sm text-gray-500 hover:text-green-600">👁</button>


        <button type="submit" class="w-full bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition">
            Reset Password
        </button>
    </form>
</div>
<script>
    function togglePassword(id, btn) {
        const input = document.getElementById(id);
        if (input.type === "password") {
            input.type = "text";
            btn.textContent = "🙈";
        } else {
            input.type = "password";
            btn.textContent = "👁";
        }
    }
</script>

{% endblock %}